
<nav role="navigation" class="navbar main-navigation">
    <div class="color_bar row">
                <div class="col-md-3 col-sm-3 col-xs-3 dark_blue"></div>
                <div class="col-md-2 col-sm-2 col-xs-2 blue"></div>
                <div class="col-md-2 col-sm-2 col-xs-2 red"></div>
                <div class="col-md-2 col-sm-2 col-xs-2 orange"></div>
                <div class="col-md-3 col-sm-3 col-xs-3 green"></div>
    </div>
    <!--<div class="container">
        <div class="navbar-header">

            {{!-- Logo and Title --}}
            
            <a href="{{@blog.url}}" class="navbar-brand">{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="">{{/if}}{{@blog.title}}</a>

            {{!-- Blog description --}}
            {{#if @blog.description}}
            <span class="brand-tagline pull-left">{{@blog.description}}</span>
            {{/if}}

        </div>
    </div>-->
</nav>

{{!-- Load Droppable Post List --}}
{{{block 'dropNav'}}}