{{!< default}}

{{> header-ii}}

<main id="wrapper" role="main">
    
    <img src="/assets/images/logo.png" alt="MikeyAlder" class="site_logo">


    {{!-- Headline --}}
        <div class="container full">

            {{!-- Output the first post on pagination --}}
            {{#foreach posts}}
                {{#if @first}}
            <article class="post excerpt container">
        <header>

            {{!-- post date --}}
            <time class="post date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>

            {{!-- post title --}}
            <h2><a href="{{url}}">{{title}}</a></h2>
            <div class="post_image">{{content words="0"}}</div>
            <p>{{excerpt}} ...</p>
            <a href="{{url}}" class="btn btn-primary btn_right">Read More</a>

        </header>
    </article>
                {{/if}}
            {{/foreach}}
    </div>{{!-- /Headline --}}



    {{!-- Output the rest of the posts --}}
    {{#foreach posts}}
    {{#unless @first}}
    <article class="post excerpt container">
        <header>

            {{!-- post date --}}
            <time class="post date" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>

            {{!-- post title --}}
            <h2><a href="{{url}}">{{title}}</a></h2>

        </header>
    </article>
    {{/unless}}
    {{/foreach}}

    {{!-- Output pagination --}}
    <div class="pagination holder">
        {{pagination}}
    </div>

</main>

<!-- FOOTER-->
{{> footer}}